:root {
  --navy: rgb(13, 13, 53);
  --beige: rgb(250, 250, 235);
}

body {
  width:vw;
  height: vh;
  margin: 10px;
  background-color: var(--beige);
  padding:10px;
}

#welcomebanner {
  box-sizing: border-box;
  background-color: rgb(246, 231, 205);
  padding:15px;
  height:75px;
  border-bottom: 5px solid var(--navy);
}

#welcomebanner img {
  
  float: right;
  border-block-end-color: black;
  position:absolute;
  top: 37px;
  right: 130px;
  width:150px;
  height :150px;
}

 h1 {
  background-color: var(--navy);;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 24px;
 padding:15px;
 height:50px;
 text-align: center;
 margin-bottom: 0;
 color: var(--beige);
}


#navigation {
  position:absolute;
  height:100px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:end;
  width: 90%;

}

#navigation a {
  color: var(--navy);
  padding:60px;
  font-size :24px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .main {
  display:grid;
  border:10px;

  grid-template-rows: 300px 300px 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "aboutmehead aboutmecontent aboutmecontent"
  "projectshead project1 project1" 
  "projectshead project2 project3" 
  "projectshead project4 project5" 
  "contacthead contactcontent contactcontent";
 }
.aboutmehead {
  grid-area: aboutmehead;
  background-color: var(--navy);
  color:var(--beige);
  border: 50px solid var(--beige);;
  }

.aboutmecontent{
  grid-area: aboutmecontent;
 
  background-color:var(--beige);
  padding:20px;
  font-size: 20px;
  font-family:cursive;
  border-bottom:5px solid var(--navy);
  }


.projectshead {
  grid-area: projectshead;
  display:grid;
  color:var(--beige);
  background-color: var(--navy);
}

.project1  {
  grid-area: project1;
  border: 8px solid  var(--beige);
}


.project2 {
  grid-area: project2;
  border: 8px solid  var(--beige);
}


.project3 {
  grid-area: project3;
  border: 8px solid  var(--beige);
}


.project4 {
  grid-area: project4;
  border: 8px solid var(--beige);
}


.project5 {
  grid-area: project5;
  border: 8px solid var(--beige);
}

.project1 p,
.project2 p,
.project3 p,
.project4 p,
.project5 p {
  position:relative;
  top:-90px;
  right:-7px;
  padding:15px;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
   z-index: 500;
  color:white;
  background-color: rgb(13, 13, 53, 0.5);
}

.contacthead {
  grid-area: contacthead;
  color:var(--beige);
  background-color: var(--navy);
}

.contactcontent {
grid-area: contactcontent;
background-color:var(--beige);
text-align:center;
padding:135px;
font-size: 24px;
border-bottom:5px solid var(--navy);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.contenttext {
  text-decoration:none;
  align-items: center;
  padding:20px;

}



 #linkedinimg,
 #preworkimg,
 #project1img,
 #project2img {
  height:100%;
  width:100%;
  background-repeat:no-repeat;
  background-position:center;
  border: 8px solid  var(--beige);
  
}


#horiseonimg {
  border: 8px solid var(--beige);
  height:100%;
  width:100%;
  background-repeat:no-repeat;
  background-position:center;
}

.aboutmecontent,
#Projects,
.aboutmehead,
.projectshead,
.contacthead {
  display:grid;
  align-items: center;
  justify-content:center;
  border:20px;
}

a:hover {
color: rgb(255, 96, 176);
}

#horiseonimg:hover {
  opacity: 0.3;
}
#linkedinimg:hover {
  opacity: 0.3;
}
 #preworkimg:hover {
  opacity: 0.3;
 }
 #project1img:hover {
  opacity: 0.3;
 }
 #project2img:hover {
  opacity: 0.3;
 }

